@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=League+Spartan&family=Open+Sans:wght@300&family=Outfit:wght@100&family=Permanent+Marker&family=Roboto+Flex:opsz@8..144&family=Roboto+Mono:wght@100&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  height: 100vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
  background-image: url("https://cdn.pixabay.com/photo/2016/04/15/04/02/water-1330252_960_720.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
main{
    height: 100vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    display: flex;

}
.row{
    margin: 10px 10px 0px 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

#search{
    font-size: 25px;
    padding: 12px 100px;
    border-radius: 25px;
    border: none;
    outline: none;
    box-shadow: 5px 10px 10px rgba(0,0,0,0.3);
    margin-right: 10px;
}
h1{
    font-size: 150px;
    text-align: center;
    color: #ffb700;
    position: absolute;
    top: 80px;
}

/* CSS */
button {
  appearance: none;
  background-color: #FFFFFF;
  border-radius: 40em;
  border-style: none;
  box-shadow: #ADCFFF 0 -12px 6px inset;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system,sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: -.24px;
  margin: 0;
  outline: none;
  padding: 1rem 1.3rem;
  quotes: auto;
  text-align: center;
  text-decoration: none;
  transition: all .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:hover {
  background-color: #FFC229;
  box-shadow: #FF6314 0 -6px 8px inset;
  transform: scale(1.125);
}

button:active {
  transform: scale(1.025);
}

@media (min-width: 768px) {
  .button-73 {
    font-size: 1.5rem;
    padding: .75rem 2rem;
  }
}

main h4{
    margin-bottom: 10px;
    font-size: 20px;
}
#img{
    background-color: black;
    border-radius: 50%;
}
.new{
  margin-left: 10px;
}